.nav {
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper {
  display: flex;
  gap: 50px;
  margin-bottom: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .wrapper {
    margin-bottom: 0px;
    justify-content: space-between;
  }
}
