@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avant Garde Book BT";
  font-style: normal;
  font-weight: normal;
  src: url("../public/fonts/AVGARDD_2.woff") format("woff");
}

body {
  margin: 0px;
  font-family: "Avant Garde Book BT";
}

.headerButtonContainer {
  transform: scale(0);
  position: fixed;
  right: 0px;
  z-index: 4;

  .button {
    position: relative;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    width: 100%;
    position: relative;
    z-index: 1;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}

.mask {
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.2));
  mask-repeat: no-repeat;
  mask-size: 40px;
  --tw-text-opacity: 1;
  background: rgb(228 228 231 / var(--tw-text-opacity));
  position: absolute;
}
