.main {
  height: 100vh;
  background: #000;

  .mask,
  .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    line-height: 90px;
    cursor: default;

    p {
      width: 1500px;
    }
  }

  .mask {
    mask-image: url("../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    --tw-text-opacity: 1;
    background: rgb(228 228 231 / var(--tw-text-opacity));
    position: absolute;
  }
}
